<li>
    <label for="username-box">Username:</label>
    <input id="username-box" #username (input)="username.value">
  </li>
  <li>
    <label for="password-box">Password:</label>
    <input id="password-box" #password (input)="password.value">
  </li>
  <li>
      <button class="btn btn-outline-secondary" (click)= "username.value=''; password.value=''">Login</button>
  </li>
  <li>
      <button class="btn btn-outline-secondary" (click)= "registerUser(username.value, password.value); username.value=''; password.value='';">Register</button>
  </li>