<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src= "{{menuItem.imageURL}}" class="img-fluid rounded-start" alt="..." >
      </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title item-title">{{menuItem.title}}</h5>
                <p class="card-text item-description">{{menuItem.description}}</p>
                <p class="card-text item-price">{{menuItem.price}}</p>
            </div>
        </div>
    </div>
    <div class="row g-0 buttons">
        <div class="col-md-4">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Amount:</span>
                <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" #itemAmount>
            </div>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <button class="add-button btn btn-sm btn-primary" type="button" (click)="addToCart(itemAmount.value); openPopup();">Add to Cart</button>
        </div>
    </div>
</div>

<!--Add to Cart Popup-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="title">Item(s) Added to Cart</h4>
        </div>
        <div class="modal-body" id="message">
          <p>{{itemAmount.value}} orders of {{menuItem.title}} was added to your cart</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
        </div>
      </div>
    </div>
  </div>
