<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src= "{{menuItem.imageURL}}" class="img-fluid rounded-start" alt="..." >
      </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title item-title">{{menuItem.title}}</h5>
                <p class="card-text item-description">{{menuItem.description}}</p>
                <p class="card-text item-price">{{menuItem.price}}</p>
            </div>
        </div>
    </div>
    <div class="row g-0 buttons">
        <div class="col-md-4">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Amount:</span>
                <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" #itemAmount>
            </div>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <button class="add-button btn btn-sm btn-primary" type="button" (click)="addToCart(itemAmount.value)">Add to Cart</button>
        </div>

    </div>
</div>
