<img src="../assets/img/homeFinal.png" alt="">
<div class="container-fluid row" style="width:100%">
    <h1>Bringing Authentic Chinese Food To Fargo, North Dakota</h1>
    <div class="col-8">
        <h5>About Us</h5>
        <p>Dragon Palace was founded in 2005 with a passion for sharing Chinese cuisine in its most pure and authentic form. We don’t believe in sacrificing on spice, flavor, or originality. We make our dishes as close as possible to what you’ll actually find at small, family run eateries across China. </p>
    </div>
    <div class="col-1 vl"></div>
    <div class="col-3">
        <h5>Phone:</h5>
        <p>701-123-4567</p>
        <h5>Location:</h5>
        <p>1500 32nd St S Fargo, ND</p>
        <h5>Hours:</h5>
        <p>Mon-Th: 11:30am-8pm <br/>Fri-Sun: 11:30am-10pm</p>
    </div>
</div>
